* {
  box-sizing: border-box;
}

body{
  background: #EEF9BF;
}

header{
  height: 140px;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #75B79E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tela-inicial, .tela-jogo {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.face{
  width: 117px;
  height: 146px;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  margin: 20px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  
  transition: all .5s;
  transform-style: preserve-3d;

  display: flex;
  align-items: center;
  justify-content: center;
}

.verso{
  background-image: url(../imagens/front.png);
  transform: rotateY(0deg);
}

.verso img{
  display: none;
}

.frente { 
  transform: rotateY(-180deg);
}

.frente img{
  width: 80px;
  height: 100px;
  display: block;
}

.sumir {
  display: none;
}

@media (max-width: 600px) {
  header{
    font-size: 36px;
    text-align: center;
  }
}