* {
  box-sizing: border-box;
}

body{
  background: #EEF9BF;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100px;
  font-size: 56px;
  font-weight: 700;
  color: #75B79E;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.initial-board, .game-board {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.face{
  width: 117px;
  height: 146px;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  margin: 20px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  
  transition: all .5s;
  transform-style: preserve-3d;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back{
  background-image: url(../imagens/front.png);
  transform: rotateY(0deg);
}

.back img{
  display: none;
}

.front { 
  transform: rotateY(-180deg);
}

.front img{
  width: 80px;
  height: 100px;
  display: block;
}

.delete {
  display: none;
}

.counter{
  font-size: 22px;
  color: #75B79E;
  margin-left: 80%;
  margin-top: 10px;
}

@media (max-width: 600px) {
  header{
    font-size: 36px;
    text-align: center;
  }
}